body {
    margin: 0;
    padding: 0;
    background-color: black;
}
@font-face {
font-family: "pokemon-solid";
src: url("font-family/Pokemon_Solid.ttf");

font-family: "pokemon-hollow";
src: local("font-family/Pokemon_Hollow.ttf") format('ttf');

}

#title-pokemon{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "pokemon-hollow", "pokemon-solid";
    color: yellow;
    -webkit-text-stroke: 3px #0d4c99;
    margin-top: -8vh;
}

#P{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1) translateX(5px);
    font-size: 4em;
}

#o{
    display: inline-block;
  transform-origin: bottom;
  transform: scaleY(1.1) translateX(-7px);
  font-size: 3em;
}

#K{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.2) translateX(-8px);
    font-size: 3em;
}

#é{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.3) translateX(-8px);
    font-size: 3em;
}
#M{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.1) translateX(-10px);
    font-size: 3em;
}
#o-2{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.2) translateX(-20px);
    font-size: 3em;
}
#N{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.1) translateX(-25px);
    font-size: 3em;
}

#nav{
    display: flex;
    justify-content: center;
    margin-top: -9vh;
}

ul{
    margin: 0;
    display: flex;
    justify-content: space-between;

}

li{
    font-family: "pokemon-hollow";
    padding: 0 3em 0 3em;
    list-style-type: none;
    
}

a{
    text-decoration:none;
    font-size: 2.5em;
    color: yellow;
    -webkit-text-stroke: 3.5px #0d4c99;

}

#pokedex{
    font-size: 2.8em;

}

#add-pokemon{
    font-size: 2.8em;

}

#search-block{
    display: flex;
    justify-content: center;
    height: 4vh;
    margin-top: 4vh;
    margin-right: 3vw;
}

#label-search-pokemon{
    padding: 0;
    font-family: "pokemon-hollow";
    font-size: 2em;
    color: yellow;
    -webkit-text-stroke: 3.5px #0d4c99;
    margin-top: -3.8vh;
    margin-right: 1vw;
}

#search-bar{
    color: yellow;
    height: 4vh;
    margin-right: 1vw;
    border-radius: 5vw; 
      background-color: black;
      font-family: "pokemon-hollow";
      -webkit-text-stroke: 1px #0d4c99;
      text-align: center;
      
}

#search-button{
    background-color: rgb(255, 0, 0);
    color: yellow;
    -webkit-text-stroke: 1.2px #0d4c99;
    height: 4vh;
    border-radius: 5vw;
    font-family: "pokemon-hollow";

}

#search-bar[type="text"]{
    font-size: 5em;
}

#search-bar::placeholder {
    color: yellow;
    font-family: "pokemon-hollow";
    -webkit-text-stroke: 1.2px #0d4c99;
    text-align: center;
    font-size: 1.3em; 
    }
#search-bar:hover{
background-color: rgb(255, 0, 0);
}
    

#search-button:hover{
   background-color: yellow;
}

#pokedex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    /* margin-left: 20vw;
    margin-right: 20vw; */
}

.pokemon-block{
    display: flex;
    flex-direction: column;
text-align: center;
line-height: 0;
margin-top: 2vh;
}

.name-pokemon{
    color: rgb(245, 232, 232);

}

.type-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);
}

#hp-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);


}

#cp-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);

}

.remove-button:hover{
 background-color: red;
}
.remove-button .put-button{
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.put-button:hover{
    background-color: rgb(119, 255, 0);
}



#title-add-pokemon{
    color: rgb(245, 232, 232);
}

label{
    color: rgb(245, 232, 232);

}

#add-container-pokemon{
display: flex;
justify-content: center;
}



#title-add-pokemon{
   text-align: center;
   font-size: 2.2em;
font-family: "pokemon-hollow";
    color: yellow;
    -webkit-text-stroke: 1.5px #0d4c99;
    margin-top: -15vh ;

}
#form-add-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    line-height: 2;
    margin: 0 auto;
}
.put-button{
    margin-top: 10px;
}

.put-button:hover{
    background-color:yellow;
}

.picture-pokemon{
    max-width: 215px;
}

.visualised-button{
margin-top: 10px;
}
.visualised-button:hover{
background-color: #0d4c99;
}
#edit-container{
    display: flex;
    flex-direction: row-reverse;
}

#edit-form{
    display: flex;
    flex-direction:column;
    text-align: center;
    line-height: 2;
    margin-top: 2vh;

}

#selected-pokemon-container{
    margin-right: 20px;
}

#visualized-pokemon-block{
    margin-left: 20px;
    text-align: center;
}




@media only screen and (min-width: 768px ) and (max-width: 1068px) {
    #title-pokemon{
        text-align: center;
     font-size: 2em;
   }
   
    #nav{
     font-size: 1em;
     margin-top: -7vh;
        margin: 0;

     
    }

    #pokedex{
     -webkit-text-stroke: 4px #0d4c99;
     line-height: 1.5;
 }
 
 #add-pokemon{
     -webkit-text-stroke: 4px #0d4c99;
     line-height: 1.5;
     padding-top: 25px;
 }

 ul{
    
    flex-direction: column;
 }

 #pokedex-container{
    display: flex;
    margin-top: 5vh;
 }

 #add-pokemon-container{
    margin-top: -8vh;
    margin-bottom: 5vh;
 }
 #title-add-pokemon{
    margin: 0;
    font-size: 1.8em;
    -webkit-text-stroke: 1.5px #0d4c99;

 }

 .label-pokemon{
    font-size: 1.5em;
 }
}

 @media only screen and (min-width: 320px ) and (max-width: 767px) {
   #title-pokemon{
    font-size: 2em;
   }

   ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   #nav{
    margin-top: -6vh;
    margin: 0;
    line-height: 1.5;
   }
   #pokedex-container{
    margin-top: 5vh;
   }
 }