body {
    margin: 0;
    padding: 0;
    background-color: black;
}
@font-face {
font-family: "pokemon-solid";
src: url("font-family/Pokemon_Solid.ttf");

font-family: "pokemon-hollow";
src: local("font-family/Pokemon_Hollow.ttf") format('ttf');

}

#title-pokemon{
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-family: "pokemon-hollow", "pokemon-solid";
    color: yellow;
    -webkit-text-stroke: 3px #0d4c99;
    margin-top: -8vh;
}

#P{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1) translateX(5px);
    font-size: 4em;
}

#o{
    display: inline-block;
  transform-origin: bottom;
  transform: scaleY(1.1) translateX(-7px);
  font-size: 3em;
}

#K{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.2) translateX(-8px);
    font-size: 3em;
}

#é{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.3) translateX(-8px);
    font-size: 3em;
}
#M{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.1) translateX(-10px);
    font-size: 3em;
}
#o-2{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.2) translateX(-20px);
    font-size: 3em;
}
#N{
    display: inline-block;
    transform-origin: bottom;
    transform: scaleY(1.1) translateX(-25px);
    font-size: 3em;
}

#nav{
    display: flex;
    justify-content: center;
    
}

ul{
    margin: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;

}

li{
    font-family: "pokemon-hollow";
    
    list-style-type: none;
    display: flex;
    
}

a{
    text-decoration:none;
    font-size: 2.5em;
    color: yellow;
    -webkit-text-stroke: 3.5px #0d4c99;

}

#pokedex{
    font-size: 2.8em;

}

#add-pokemon{
    font-size: 2.8em;

}

#pokedex-container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
}

.pokemon-block{
    display: flex;
    flex-direction: column;
text-align: center;
line-height: 0;
margin-top: 2vh;
}

.name-pokemon{
    color: rgb(245, 232, 232);

}

.type-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);
}

#hp-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);


}

#cp-pokemon{
    font-weight: 300;
    color: rgb(245, 232, 232);

}

.remove-button:hover{
 background-color: red;
}
.remove-button .put-button{
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.put-button:hover{
    background-color: rgb(119, 255, 0);
}



#title-add-pokemon{
    color: rgb(245, 232, 232);
}

label{
    color: rgb(245, 232, 232);

}

#add-container-pokemon{
display: flex;
justify-content: center;
}



#title-add-pokemon{
   text-align: center;
   font-size: 2.2em;
font-family: "pokemon-hollow";
    color: yellow;
    -webkit-text-stroke: 1.5px #0d4c99;
    
}
#form-add-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
    line-height: 2;
    margin: 0 auto;
}
.put-button{
    margin-top: 10px;
}

.put-button:hover{
    background-color:yellow;
}

.picture-pokemon{
    max-width: 215px;
}

#edit-container{
    display: flex;
    flex-direction: row-reverse;
}

#edit-form{
    display: flex;
    flex-direction:column;
    text-align: center;
    line-height: 2;
    margin-top: 2vh;

}

@media only screen and (min-width: 2560px) {
   #title-pokemon{
    font-size: 3em;
   }

   #nav{
    font-size: 2em;
    margin-top: -5vh;
   }

   #pokedex{
    -webkit-text-stroke: 7px #0d4c99;
}

#add-pokemon{
    -webkit-text-stroke: 7px #0d4c99;


}
}

@media only screen and (min-width: 768px ) and (max-width: 1068px) {
    #title-pokemon{
        text-align: center;
     font-size: 2em;
   }
   
    #nav{
   margin: 0;
     font-size: 1em;
     margin-top: -7vh;
     
     
    }

    *{
        border: 1px solid red;
    }

 
    #pokedex{
     -webkit-text-stroke: 4px #0d4c99;
     line-height: 1.5;
 }
 
 #add-pokemon{
     -webkit-text-stroke: 4px #0d4c99;
     line-height: 1.5;
     padding-top: 25px;
 }

 ul{
    flex-direction: column;
 }

 #pokedex-container{
    display: flex;
    width: 500px;
    margin-top: 5vh;
 }

 #add-pokemon-container{
    margin-top: -8vh;
    margin-bottom: 5vh;
 }
 #title-add-pokemon{
    margin: 0;
    font-size: 1.8em;
    -webkit-text-stroke: 1.5px #0d4c99;

 }

 .label-pokemon{
    font-size: 1.5em;
 }
}

 @media only screen and (min-width: 320px ) and (max-width: 767) {
   #title-pokemon{
    font-size: 10em;
   }

 }